.navbar{
    background-color:#343a40 !important;
    
}
.navbar a:hover{
    color: var(--main-color) !important;
    
}
.navbar a{
    font-size: 1.2rem;
}
.navbar-brand{
    color: #ddd !important;
    font-weight: bolder;
    padding: 0 20px;
}
.navbar-brand span{
    color: var(--main-color) !important;
    
}
.nav-link{
    color: #fff !important;
}
.dropdown-menu{
    background-color: var(--main-color) !important;
}
.pasket-icons div :not(sub){
    color: var(--main-color) !important;
}
.pasket-icons div sub{
    color: white !important;
}

.dropdown-menu{
    padding: 10px 25px !important;
}
